:root {
  --white: rgb(248, 248, 251);
  --purple: rgb(124, 93, 250);
  --lightPurple: rgb(146, 119, 255);
  --gray: rgb(136, 142, 176);
  --blue: rgb(126, 136, 195);
  --lightBlue: rgb(223, 227, 250);
  --darkBlue: rgb(37, 41, 69);
  --darkerBlue: rgb(30, 33, 57);
  --pink: rgb(236, 87, 87);
  --lightPink: rgb(255, 151, 151);
  --navy: rgb(20, 22, 37);
  --black: rgb(12, 14, 22);
  --font-xxl: 32px;
  --font-xl: 20px;
  --font-lg: 16px;
  --font-md: 12px;
  --font-s: 11px;
  --line-xxl: 36px;
  --line-xl: 24px;
  --line-lg: 22px;
  --line-md: 18px;
  --line-s: 15px; 
  --spacing-xxl: -0.15px;
  --spacing-xl: -0.23px;
  --spacing-lg: -0.25px;
  --spacing-md: -0.63px;
  --spacing-s: -0.80px;
}